/* scaffolding */
div {
    border: 1px solid black;
}

.root-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}


.header{
    display: flex;
    flex-direction: column;
}
.nav-bar{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
    .nav-left{
        display: flex;
    }

    .nav-right{
        display: flex;
        gap: 15px;
    }

.slider{
    display: flex;
    justify-content: center;
}

    .slider-intro{
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 35vw;
    }

    .slider-picture{
        width: 35vw;
    }

    .slider-title{
        font-size: 24px;
    }

    .signup{
        padding: 0px 8px;
        /* TODO: figure out how to center the text into a button vertically */
    }


.main-content{
    display: flex;
    flex-direction: column;
    flex: 1;

}

.r-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 10px;
    justify-content: flex-start;
}

    .r-info__title{
        align-self: center;
        font-weight: bold;
        font-size: larger;
    }

    .r-info__illustrations{
        display: flex;
        justify-content: center;
        gap: 15px;
        width: 70vw;
    }

    .r-info__item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .ill-box{
            text-align: center;
        }
        .ill-text{
            text-align: center;
        }

.inspiring-quote{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}
    .inspiring-quote__body{
        width: 70vw;
    }
    .inspiring-quote__attribution{
        text-align: right;
        width: 70vw;
    }


.hm{
    display: flex;
    width: 85vw;
    justify-content: center;
    flex: 1;
}

.sign-wrap{
    display: flex;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
}

