/* scaffolding */
div {
    border: 1px solid black;
}

.root-container{
    display: flex;
    flex-direction: column;
}


.header{
    display: flex;
    flex-direction: column;
}
.nav-bar{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
    .nav-left{
        display: flex;
    }

    .nav-right{
        display: flex;
        gap: 15px;
    }

.slider{
    display: flex;
    justify-content: center;
}

    .slider-intro{
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 35vw;
    }

    .slider-picture{
        width: 35vw;
    }

    .slider-title{
        font-size: 24px;
    }

    .signup{
        padding: 0px 8px;
        /* TODO: figure out how to center the text into a button vertically */
    }


.main-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.r-info{
    
}
    .r-info__item{

    }
        .ill-box{

        }
        .ill-text{

        }
