/* scaffolding */
div {
    border: 1px solid black;
}

body{
    line-height: 1;
}

.root-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.header{
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
    background-color: black;
    color: white;
    align-items: center;
}
.nav-bar{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    width: 70vw;
    align-items: center;
}
    .nav-left{
        display: flex;
    }

    .nav-right{
        display: flex;
        gap: 15px;
    }
        .nav-item{
            font-size: 12px;
        }

        .logo{
            font-size: 16px;
            font-weight: bold;
        }
.slider{
    display: flex;
    justify-content: center;
    padding-top: 3vh;
    padding-bottom: 5.5vh;
}

    .slider-intro{
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 35vw;
    }

    .intro-item{
        font-size: 10px;
    }

    .slider-picture{
        width: 35vw;
    }

    .slider-title{
        font-size: 20px;
        font-weight: bold;
    }

    .signup{
        padding: 0px 8px;
        /* TODO: figure out how to center the text into a button vertically */
    }


.main-content{
    display: flex;
    flex-direction: column;
    flex: 1;

}

.r-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 10px;
    justify-content: flex-start;
    padding: 0.5vh 0.5vw 2vh 0.5vw;

}

    .r-info__title{
        align-self: center;
        font-weight: bold;
        font-size: larger;
        padding: 1.5vh 1vw;
    }

    .r-info__illustrations{
        display: flex;
        justify-content: center;
        gap: 5px;
        width: 70vw;
    }

    .r-info__item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .ill-box{
            text-align: center;
            height: 7.5vh;
            width: 7.5vh;
        }
        .ill-text{
            text-align: center;
            font-size: 10px;
        }

.inspiring-quote{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}
    .inspiring-quote__body{
        width: 70vw;
    }
    .inspiring-quote__attribution{
        text-align: right;
        width: 70vw;
        font-weight: bold;
    }


.hm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: white;
}
    .hm-content__wrapper{
        display: flex;
        width: 80vw;
        /* TODO: play with the sizing of padding at different viewing sizes  */
        padding: 2vh 8vw;
        font-size: 10px;
        background: dodgerblue;

    }

    .hm-content{

        flex-grow: 2;

        /* 30% width of the container (hopefully) to combat the size of the flex container appearing larger because of the length of the paragaph */
        width: 30%;
        word-wrap: normal;
    }

    .sign-wrap{
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 0;
        justify-content: center;
    }

.footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 12px;
    flex: 0 0 4.5vh;
    align-items: center;
}

